<h1><%= @photo.title %></h1>

<p> <%= link_to "Edit" , edit_photo_url(@photo.id), method: 'get' %> | <%= link_to "Delete" , photo_url(@photo.id) , method: 'delete' %></p>


<img src= <%= @photo.img %> width="500" >

<p><%=  @photo.desc %></p>
<p> <%= @photo.price %></p>

<%= link_to "Go Back" , photos_url %>
